planner-checkbox {
    .label-ios, .label-md {
        font-size: 1.7rem;
        margin: 0 8px 0 0;
        text-transform: none;
    }
    button {
        font-size: 10.2px !important;
        height: 44px;

        &.button-clear-ios, &.button-clear-md {
            color: #9D9D9D;
        }
    }
    .item-ios [item-end] {
        margin: 0 8px 8px 8px;
    }
    .subtitle {
        border-radius: 20px;
        color: #FFFFFF;
        font-size: 80%;
        padding: 0 10px;
    }
}
